.section{
    position: absolute;
    width: 1000px;
    top: 300px;
    left: 450px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.125);

}

.titl{
    position: relative;
    left: 11rem;
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 59px;
}

.subtit{
    position: relative;
    left: 8;
    padding-bottom: 20px;
    font-size: 20px;
}

.para{
    position: relative;
    line-height: 25px;
    padding-bottom: 20px;
}
