*{
    margin: 0;
    padding: 0;
}


.navbar{
    display: flex;
    position: relative;
    height: 106px;
    font-family: 'Montserrat', sans-serif;
}

.collapse{
    position: relative;
    margin-top: 50px;
    margin-left: 796px;
}

.navbar-nav{
    display: flex;
    list-style-type: none;
}

.navbar-brand{
    position: relative;
    margin-left:  200px;
    margin-top: 50px;
    left: 5%;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;

}

.nav-item{
    padding-left: 70px; 
    font-weight: bold;
    width: 158px;
}

.active{
    font-weight: bold;
    color: #FF3D4E;
}
.nav-item:hover{
    font-weight: bold;
}
.nav-link{
    text-decoration: none;
    color: black;
}